/* Figma Styles of your File */
:root {
  /* Colors */
  --black: #d9d9d9;
  --style-orange-6: #ff8100;
  --style-blue-6: #1d9fea;
  --interface-correct-green: #4ebc7a;
  --interface-alert-red: #ff6362;
  --interface-red: #cf1514;
  --interface-warning-orange: #ffce0c;
  --black-black-2: #fcfcfc;
  --black-black-3: #f5f5f5;
  --black-black-4: #ebebeb;
  --black-black-6: #bfbfbf;
  --black-black-7: #8c8c8c;
  --black-black-8: #595959;
  --black-black-9: #454545;
  --black-black-10: #262626;
  --black-black-11: #0f0f0f;
  --black-black-12: #141414;
  --black-black-13: #000000;
  --style-blue-blue-1: #e8f5fd;
  --style-blue-blue-2: #c9e8fa;
  --style-blue-blue-3: #9ed6f6;
  --style-blue-blue-4: #71c3f2;
  --style-blue-blue-5: #46b0ee;
  --style-blue-blue-7: #1987c7;
  --style-blue-blue-8: #1571a6;
  --style-blue-blue-9: #115b85;
  --style-blue-blue-10: #0d4869;
  --style-orange-orange-1: #fff2e6;
  --style-orange-orange-2: #ffe1c2;
  --style-orange-orange-3: #ffc991;
  --style-orange-orange-4: #ffb05e;
  --style-orange-orange-5: #ff982e;
  --style-orange-orange-7: #d96e00;
  --style-orange-orange-8: #b55c00;
  --style-orange-orange-9: #914a00;
  --style-orange-orange-10: #733a00;

  /* Fonts */
  --icon-text-font-family: Manrope-Regular, sans-serif;
  --icon-text-font-size: 12px;
  --icon-text-line-height: 130%;
  --icon-text-font-weight: 400;
  --icon-text-font-style: normal;
  --13btn-font-family: Manrope-Bold, sans-serif;
  --13btn-font-size: 13px;
  --13btn-line-height: 100%;
  --13btn-font-weight: 700;
  --13btn-font-style: normal;
  --16btn-font-family: Manrope-Bold, sans-serif;
  --16btn-font-size: 16px;
  --16btn-line-height: 100%;
  --16btn-font-weight: 700;
  --16btn-font-style: normal;
  --13rl-font-family: Manrope-Regular, sans-serif;
  --13rl-font-size: 13px;
  --13rl-line-height: 140%;
  --13rl-font-weight: 400;
  --13rl-font-style: normal;
  --14tagr-font-family: Manrope-Regular, sans-serif;
  --14tagr-font-size: 14px;
  --14tagr-line-height: 100%;
  --14tagr-font-weight: 400;
  --14tagr-font-style: normal;
  --13tag-font-family: Manrope-Regular, sans-serif;
  --13tag-font-size: 13px;
  --13tag-line-height: 120%;
  --13tag-font-weight: 400;
  --13tag-font-style: normal;
  --z32-font-family: DrukTextWideCyr-Medium, sans-serif;
  --z32-font-size: 32px;
  --z32-line-height: 120%;
  --z32-font-weight: 500;
  --z32-font-style: normal;
  --z16-font-family: DrukTextWideCyr-Medium, sans-serif;
  --z16-font-size: 16px;
  --z16-line-height: 120%;
  --z16-font-weight: 500;
  --z16-font-style: normal;
  --z24-font-family: DrukTextWideCyr-Medium, sans-serif;
  --z24-font-size: 24px;
  --z24-line-height: 120%;
  --z24-font-weight: 500;
  --z24-font-style: normal;
  --fontname-desktop-h-h-56-b-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-h-h-56-b-font-size: 56px;
  --fontname-desktop-h-h-56-b-line-height: 120%;
  --fontname-desktop-h-h-56-b-font-weight: 700;
  --fontname-desktop-h-h-56-b-font-style: normal;
  --fontname-desktop-h-h-48-b-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-h-h-48-b-font-size: 48px;
  --fontname-desktop-h-h-48-b-line-height: 120%;
  --fontname-desktop-h-h-48-b-font-weight: 700;
  --fontname-desktop-h-h-48-b-font-style: normal;
  --fontname-desktop-h-h-40-b-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-h-h-40-b-font-size: 40px;
  --fontname-desktop-h-h-40-b-line-height: 120%;
  --fontname-desktop-h-h-40-b-font-weight: 700;
  --fontname-desktop-h-h-40-b-font-style: normal;
  --fontname-desktop-h-h-32-b-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-h-h-32-b-font-size: 32px;
  --fontname-desktop-h-h-32-b-line-height: 120%;
  --fontname-desktop-h-h-32-b-font-weight: 700;
  --fontname-desktop-h-h-32-b-font-style: normal;
  --fontname-desktop-h-h-28-b-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-h-h-28-b-font-size: 28px;
  --fontname-desktop-h-h-28-b-line-height: 120%;
  --fontname-desktop-h-h-28-b-font-weight: 700;
  --fontname-desktop-h-h-28-b-font-style: normal;
  --fontname-desktop-h-h-24-b-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-h-h-24-b-font-size: 24px;
  --fontname-desktop-h-h-24-b-line-height: 120%;
  --fontname-desktop-h-h-24-b-font-weight: 700;
  --fontname-desktop-h-h-24-b-font-style: normal;
  --fontname-desktop-h-h-20-b-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-h-h-20-b-font-size: 20px;
  --fontname-desktop-h-h-20-b-line-height: 120%;
  --fontname-desktop-h-h-20-b-font-weight: 700;
  --fontname-desktop-h-h-20-b-font-style: normal;
  --fontname-desktop-24px-24px-rl-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-24px-24px-rl-font-size: 24px;
  --fontname-desktop-24px-24px-rl-line-height: 160%;
  --fontname-desktop-24px-24px-rl-font-weight: 400;
  --fontname-desktop-24px-24px-rl-font-style: normal;
  --fontname-desktop-24px-24px-rn-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-24px-24px-rn-font-size: 24px;
  --fontname-desktop-24px-24px-rn-line-height: 120%;
  --fontname-desktop-24px-24px-rn-font-weight: 400;
  --fontname-desktop-24px-24px-rn-font-style: normal;
  --fontname-desktop-20px-20px-rl-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-20px-20px-rl-font-size: 20px;
  --fontname-desktop-20px-20px-rl-line-height: 160%;
  --fontname-desktop-20px-20px-rl-font-weight: 400;
  --fontname-desktop-20px-20px-rl-font-style: normal;
  --fontname-desktop-20px-20px-rn-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-20px-20px-rn-font-size: 20px;
  --fontname-desktop-20px-20px-rn-line-height: 120%;
  --fontname-desktop-20px-20px-rn-font-weight: 400;
  --fontname-desktop-20px-20px-rn-font-style: normal;
  --fontname-desktop-18px-18px-bn-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-18px-18px-bn-font-size: 18px;
  --fontname-desktop-18px-18px-bn-line-height: 120%;
  --fontname-desktop-18px-18px-bn-font-weight: 700;
  --fontname-desktop-18px-18px-bn-font-style: normal;
  --fontname-desktop-18px-18px-rn-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-18px-18px-rn-font-size: 18px;
  --fontname-desktop-18px-18px-rn-line-height: 120%;
  --fontname-desktop-18px-18px-rn-font-weight: 400;
  --fontname-desktop-18px-18px-rn-font-style: normal;
  --fontname-desktop-18px-18px-rl-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-18px-18px-rl-font-size: 18px;
  --fontname-desktop-18px-18px-rl-line-height: 150%;
  --fontname-desktop-18px-18px-rl-font-weight: 400;
  --fontname-desktop-18px-18px-rl-font-style: normal;
  --fontname-desktop-up-16px-bn-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-up-16px-bn-font-size: 16px;
  --fontname-desktop-up-16px-bn-line-height: 120%;
  --fontname-desktop-up-16px-bn-font-weight: 700;
  --fontname-desktop-up-16px-bn-font-style: normal;
  --fontname-desktop-up-14px-bn-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-up-14px-bn-font-size: 14px;
  --fontname-desktop-up-14px-bn-line-height: 120%;
  --fontname-desktop-up-14px-bn-font-weight: 700;
  --fontname-desktop-up-14px-bn-font-style: normal;
  --fontname-desktop-text-16px-bn-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-text-16px-bn-font-size: 16px;
  --fontname-desktop-text-16px-bn-line-height: 120%;
  --fontname-desktop-text-16px-bn-font-weight: 700;
  --fontname-desktop-text-16px-bn-font-style: normal;
  --fontname-desktop-text-16px-bl-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-text-16px-bl-font-size: 16px;
  --fontname-desktop-text-16px-bl-line-height: 150%;
  --fontname-desktop-text-16px-bl-font-weight: 700;
  --fontname-desktop-text-16px-bl-font-style: normal;
  --fontname-desktop-text-16px-rn-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-text-16px-rn-font-size: 16px;
  --fontname-desktop-text-16px-rn-line-height: 120%;
  --fontname-desktop-text-16px-rn-font-weight: 400;
  --fontname-desktop-text-16px-rn-font-style: normal;
  --fontname-desktop-text-16px-rl-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-text-16px-rl-font-size: 16px;
  --fontname-desktop-text-16px-rl-line-height: 150%;
  --fontname-desktop-text-16px-rl-font-weight: 400;
  --fontname-desktop-text-16px-rl-font-style: normal;
  --fontname-desktop-link-14pxlink-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-link-14pxlink-font-size: 14px;
  --fontname-desktop-link-14pxlink-line-height: 120%;
  --fontname-desktop-link-14pxlink-font-weight: 400;
  --fontname-desktop-link-14pxlink-font-style: normal;
  --fontname-desktop-link-12pxlink-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-link-12pxlink-font-size: 12px;
  --fontname-desktop-link-12pxlink-line-height: 120%;
  --fontname-desktop-link-12pxlink-font-weight: 400;
  --fontname-desktop-link-12pxlink-font-style: normal;
  --fontname-desktop-comment-14px-bn-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-comment-14px-bn-font-size: 14px;
  --fontname-desktop-comment-14px-bn-line-height: 120%;
  --fontname-desktop-comment-14px-bn-font-weight: 700;
  --fontname-desktop-comment-14px-bn-font-style: normal;
  --fontname-desktop-comment-14px-bl-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-comment-14px-bl-font-size: 14px;
  --fontname-desktop-comment-14px-bl-line-height: 140%;
  --fontname-desktop-comment-14px-bl-font-weight: 700;
  --fontname-desktop-comment-14px-bl-font-style: normal;
  --fontname-desktop-comment-14px-rn-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-comment-14px-rn-font-size: 14px;
  --fontname-desktop-comment-14px-rn-line-height: 120%;
  --fontname-desktop-comment-14px-rn-font-weight: 400;
  --fontname-desktop-comment-14px-rn-font-style: normal;
  --fontname-desktop-comment-14px-rl-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-comment-14px-rl-font-size: 14px;
  --fontname-desktop-comment-14px-rl-line-height: 140%;
  --fontname-desktop-comment-14px-rl-font-weight: 400;
  --fontname-desktop-comment-14px-rl-font-style: normal;
  --fontname-desktop-12px-12px-bn-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-12px-12px-bn-font-size: 12px;
  --fontname-desktop-12px-12px-bn-line-height: 120%;
  --fontname-desktop-12px-12px-bn-font-weight: 700;
  --fontname-desktop-12px-12px-bn-font-style: normal;
  --fontname-desktop-12px-12px-rl-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-12px-12px-rl-font-size: 12px;
  --fontname-desktop-12px-12px-rl-line-height: 150%;
  --fontname-desktop-12px-12px-rl-font-weight: 400;
  --fontname-desktop-12px-12px-rl-font-style: normal;
  --fontname-desktop-12px-12pxtag-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-12px-12pxtag-font-size: 12px;
  --fontname-desktop-12px-12pxtag-line-height: 100%;
  --fontname-desktop-12px-12pxtag-font-weight: 700;
  --fontname-desktop-12px-12pxtag-font-style: normal;
  --fontname-desktop-micro-10px-bn-font-family: Manrope-Bold, sans-serif;
  --fontname-desktop-micro-10px-bn-font-size: 10px;
  --fontname-desktop-micro-10px-bn-line-height: 120%;
  --fontname-desktop-micro-10px-bn-font-weight: 700;
  --fontname-desktop-micro-10px-bn-font-style: normal;
  --fontname-desktop-micro-10px-rn-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-micro-10px-rn-font-size: 10px;
  --fontname-desktop-micro-10px-rn-line-height: 120%;
  --fontname-desktop-micro-10px-rn-font-weight: 400;
  --fontname-desktop-micro-10px-rn-font-style: normal;
  --fontname-desktop-micro-10px-rl-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-micro-10px-rl-font-size: 10px;
  --fontname-desktop-micro-10px-rl-line-height: 150%;
  --fontname-desktop-micro-10px-rl-font-weight: 400;
  --fontname-desktop-micro-10px-rl-font-style: normal;
  --fontname-desktop-micro-9px-rn-font-family: Manrope-Regular, sans-serif;
  --fontname-desktop-micro-9px-rn-font-size: 9px;
  --fontname-desktop-micro-9px-rn-line-height: 120%;
  --fontname-desktop-micro-9px-rn-font-weight: 400;
  --fontname-desktop-micro-9px-rn-font-style: normal;

  /* Effects */
  --1-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  --2-box-shadow: 0px 8px 16px 0px rgba(20, 20, 20, 0.2);
}
/* Figma Color Variables of your File */
:root,
[data-collection-1-mode="mode-1"] {
  /* mode-1 */
  --black14: #1d1d1d;
  --blackbg15: #1d1d1d;
}
